 **Problem statement** :- Using publicly available data on key factors that impact the prices of homes (US), build a data science model to understand how these factors have effected on home prices.

**Approach:** The following variables are chosen for the study:

1. Unemployment Rate
2. Working age
3. Per capita GDP
4. Median Household Income
5. house affordability
6. CPI
7. Interest Rates
8. Rental affordability
9. Working Population
10. Urban Population
11. Houses sold

As a proxy for home prices, the S&P **Case-Shiller Index** is used.

**Note:** Most of the data is downloaded from different websites linked in readme

Data for all the variables is downloaded, preprocessed, and combined to create a dataset using the **Extract Transform Load (ETL)** method. Data for different variables had different frequencies

# Importing packages

In [3]:
import numpy as np 
import pandas as pd

***ETL***

## The case shiller dataset has been manipulated for the Total Year here, i am approaching every Factor to be taken as a annual Year values

In [6]:
#reading case-shiller proxy prizes
df_cs = pd.read_excel("caseshiller new.xlsx")

df_cs

    Year  CSUSHPINSA
0   2000    1257.326
1   2001    1358.228
2   2002    1467.454
3   2003    1604.898
4   2004    1805.577
5   2005    2061.354
6   2006    2201.771
7   2007    2159.310
8   2008    1968.722
9   2009    1782.630
10  2010    1735.967
11  2011    1670.874
12  2012    1691.831
13  2013    1854.231
14  2014    1976.123
15  2015    2065.994
16  2016    2170.878
17  2017    2296.573
18  2018    2429.460
19  2019    2513.212
20  2020    2665.289
21  2021    3120.335
22  2022    3581.264
23  2023    3668.199
24  2024    1260.430

In [7]:
#reading consumer price index 

df_cpi = pd.read_excel("CPI.xlsx")

df_cpi

    Year         CPI
0   2000   78.970721
1   2001   81.202568
2   2002   82.490467
3   2003   84.363079
4   2004   86.621678
5   2005   89.560532
6   2006   92.449705
7   2007   95.086992
8   2008   98.737477
9   2009   98.386420
10  2010  100.000000
11  2011  103.156842
12  2012  105.291505
13  2013  106.833849
14  2014  108.566932
15  2015  108.695722
16  2016  110.067009
17  2017  112.411557
18  2018  115.157303
19  2019  117.244195
20  2020  118.690502
21  2021  124.266414
22  2022  134.211206
23  2023  139.735794

In [8]:
#Reading intrest rates 

df_intrestrates = pd.read_excel("intrestrates.xlsx")

df_intrestrates

    Year  IntrestRates
0   2000      6.235833
1   2001      3.887500
2   2002      1.666667
3   2003      1.127500
4   2004      1.349167
5   2005      3.213333
6   2006      4.964167
7   2007      5.019167
8   2008      1.927500
9   2009      0.160000
10  2010      0.175000
11  2011      0.101667
12  2012      0.140000
13  2013      0.107500
14  2014      0.089167
15  2015      0.132500
16  2016      0.395000
17  2017      1.001667
18  2018      1.831667
19  2019      2.158333
20  2020      0.375833
21  2021      0.080000
22  2022      1.683333
23  2023      5.024167
24  2024      5.330000

## the given below is the gdp which is been manipulated to show year wise gdp per capita

In [10]:
#Reading gdp per capita 

df_gdppc = pd.read_excel("gdppc.xlsx")

df_gdppc

    Year     Gdp
0   2000  145193
1   2001  148400
2   2002  151815
3   2003  157674
4   2004  166631
5   2005  176203
6   2006  184932
7   2007  191899
8   2008  193996
9   2009  188490
10  2010  194277
11  2011  199804
12  2012  206577
13  2013  212934
14  2014  220371
15  2015  227185
16  2016  231719
17  2017  240001
18  2018  251295
19  2019  260455
20  2020  257056
21  2021  283944
22  2022  308704
23  2023  326488
24  2024   84057

In [11]:
#reading house affordability 

df_ha = pd.read_excel("house affordability.xlsx")

df_ha

    Year  median_price
0   2000        147300
1   2001        156600
2   2002        167600
3   2003        180200
4   2004        195200
5   2005        219000
6   2006        221900
7   2007        217900
8   2008        196600
9   2009        172100
10  2010        173100
11  2011        166200
12  2012        177200
13  2013        197400
14  2014        208900
15  2015        223900
16  2016        235500
17  2017        248800
18  2018        261600
19  2019        274600
20  2020        300200
21  2021        357100
22  2022        392800
23  2023        394600

In [12]:
#Reading household income 

df_hincome = pd.read_csv("householdincome.csv")

df_hi = pd.DataFrame(df_hincome)

df_hi['DATE'] = pd.to_datetime(df_hi['DATE'],format = '%d/%m/%y')

df_hi ['DATE'] = df_hi['DATE'].dt.year

df_hi = df_hi.rename(columns={'DATE':'Year'})
df_hi

    Year  Household-income
0   2000             67470
1   2001             66360
2   2002             65820
3   2003             65860
4   2004             65760
5   2005             66780
6   2006             67520
7   2007             68610
8   2008             66280
9   2009             65850
10  2010             64300
11  2011             63350
12  2012             63350
13  2013             65740
14  2014             64900
15  2015             68410
16  2016             70840
17  2017             72090
18  2018             73030
19  2019             78250
20  2020             76660
21  2021             76330
22  2022             74580

In [13]:
#reading the data of houses sold 

df_hsold = pd.read_excel("housessold.xlsx")


df_hsold

    Year   houses sold  selling price
0    2000        12100          169000
1    2001        12485          175200
2    2002        13209          187600
3    2003        14522          195000
4    2004        15962          221000
5    2005        16717          240900
6    2006        15057          246500
7    2007        11641          247900
8    2008         9180          232100
9    2009         9429          216700
10   2010         9026          221800
11   2011         9132          227200
12   2012        10056          245200
13   2013        11049          268900
14   2014        10745          288500
15   2015        11522          294200
16   2016        12022          307800
17   2017        12257          323100
18   2018        11913          326400
19   2019        12056          321500
20   2020        12924          336900
21   2021        13782          397100
22   2022        11332          457800
23   2023         9516          427400

In [14]:
#reading mortage rate 

df_mortrage = pd.read_csv("mortagerate.csv")

df_mortrage

    Year  mort-rate
0   2000   8.021111
1   2001   6.967885
2   2002   6.537308
3   2003   5.826981
4   2004   5.839231
5   2005   5.866731
6   2006   6.413269
7   2007   6.337308
8   2008   6.027170
9   2009   5.036538
10  2010   4.689808
11  2011   4.447885
12  2012   3.657500
13  2013   3.975577
14  2014   4.168868
15  2015   3.850577
16  2016   3.654038
17  2017   3.989808
18  2018   4.544615
19  2019   3.935769
20  2020   3.111698
21  2021   2.957692
22  2022   5.344038
23  2023   6.806731
24  2024   6.871724

In [15]:
# reading rental affordability 

df_ra = pd.read_excel("Rentalaffordability.xlsx")

df_ra

    Year         usp
0   2001   893.668384
1   2002   908.794505
2   2003   918.025084
3   2004   937.770444
4   2005   927.051183
5   2006   941.381978
6   2007   943.084740
7   2008   939.112400
8   2009   991.358925
9   2010   981.959652
10  2011   956.410816
11  2012   968.292255
12  2013   987.782996
13  2014  1017.835677
14  2015  1055.090789
15  2016  1086.291858
16  2017  1110.675786
17  2018  1151.431447
18  2019  1176.624594
19  2020  1209.590734
20  2021  1203.354323
21  2022  1237.000000

In [16]:
#reading unemployment rate 

df_ur = pd.read_excel("unemployementrate.xlsx")

df_1 = pd.DataFrame(df_ur)

df_1['Annual_unemp'] = df_1.iloc[:,2:14].sum(axis=1)

df_filtered = df_1.loc[:,['Year','Annual_unemp']]

df_filtered

    Year  Annual_unemp
0   2000          43.6
1   2001          52.7
2   2002          63.7
3   2003          66.1
4   2004          60.8
5   2005          55.7
6   2006          50.6
7   2007          50.8
8   2008          64.6
9   2009         103.6
10  2010         105.5
11  2011          98.1
12  2012          88.6
13  2013          80.3
14  2014          67.3
15  2015          57.6
16  2016          53.7
17  2017          47.6
18  2018          42.7
19  2019          40.1
20  2020          93.5
21  2021          57.8
22  2022          39.6
23  2023          40.1
24  2024          19.7

In [17]:
#reading urban population 

df_up = pd.read_excel("urbanpopulation.xlsx")

df_up

    Year  Urban population (% of total population)
0   2000                                    79.057
1   2001                                    79.234
2   2002                                    79.409
3   2003                                    79.583
4   2004                                    79.757
5   2005                                    79.928
6   2006                                    80.099
7   2007                                    80.269
8   2008                                    80.438
9   2009                                    80.606
10  2010                                    80.772
11  2011                                    80.944
12  2012                                    81.119
13  2013                                    81.299
14  2014                                    81.483
15  2015                                    81.671
16  2016                                    81.862
17  2017                                    82.058
18  2018                                    82.256
19  2019                                    82.459
20  2020                                    82.664
21  2021                                    82.873
22  2022                                    83.084
23  2023                                    83.298

In [18]:
#reading working age 

df_wa = pd.read_excel("workingpop.xlsx")

df_wa

    Year   Population
0    2000  2149474800
1    2001  2177621900
2    2002  2205426300
3    2003  2243444300
4    2004  2265135200
5    2005  2292342900
6    2006  2318626800
7    2007  2347934600
8    2008  2359492000
9    2009  2375571000
10   2010  2389979500
11   2011  2399566600
12   2012  2417704900
13   2013  2427969000
14   2014  2436191800
15   2015  2452234500
16   2016  2466320400
17   2017  2467121100
18   2018  2478161400
19   2019  2475679100
20   2020  2471426400
21   2021  2464074100
22   2022  2487439100
23   2023  2503948500
24   2024  1252263700

# performing merging of the datasets

In [20]:
#merging case shiller values and consumer price indicator

df_combo = pd.merge(df_cs,df_cpi,on='Year',how='outer')

df_combo

    Year  CSUSHPINSA         CPI
0   2000    1257.326   78.970721
1   2001    1358.228   81.202568
2   2002    1467.454   82.490467
3   2003    1604.898   84.363079
4   2004    1805.577   86.621678
5   2005    2061.354   89.560532
6   2006    2201.771   92.449705
7   2007    2159.310   95.086992
8   2008    1968.722   98.737477
9   2009    1782.630   98.386420
10  2010    1735.967  100.000000
11  2011    1670.874  103.156842
12  2012    1691.831  105.291505
13  2013    1854.231  106.833849
14  2014    1976.123  108.566932
15  2015    2065.994  108.695722
16  2016    2170.878  110.067009
17  2017    2296.573  112.411557
18  2018    2429.460  115.157303
19  2019    2513.212  117.244195
20  2020    2665.289  118.690502
21  2021    3120.335  124.266414
22  2022    3581.264  134.211206
23  2023    3668.199  139.735794
24  2024    1260.430         NaN

In [21]:
#merging gdp per capita and intrest rates 

df_combo2 = pd.merge(df_intrestrates,df_gdppc,on="Year",how='outer') 

df_combo2

    Year  IntrestRates     Gdp
0   2000      6.235833  145193
1   2001      3.887500  148400
2   2002      1.666667  151815
3   2003      1.127500  157674
4   2004      1.349167  166631
5   2005      3.213333  176203
6   2006      4.964167  184932
7   2007      5.019167  191899
8   2008      1.927500  193996
9   2009      0.160000  188490
10  2010      0.175000  194277
11  2011      0.101667  199804
12  2012      0.140000  206577
13  2013      0.107500  212934
14  2014      0.089167  220371
15  2015      0.132500  227185
16  2016      0.395000  231719
17  2017      1.001667  240001
18  2018      1.831667  251295
19  2019      2.158333  260455
20  2020      0.375833  257056
21  2021      0.080000  283944
22  2022      1.683333  308704
23  2023      5.024167  326488
24  2024      5.330000   84057

In [22]:
#merging the both merged together 

df_combo3 = pd.merge(df_combo,df_combo2,on='Year',how='outer')

df_combo3

    Year  CSUSHPINSA         CPI  IntrestRates     Gdp
0   2000    1257.326   78.970721      6.235833  145193
1   2001    1358.228   81.202568      3.887500  148400
2   2002    1467.454   82.490467      1.666667  151815
3   2003    1604.898   84.363079      1.127500  157674
4   2004    1805.577   86.621678      1.349167  166631
5   2005    2061.354   89.560532      3.213333  176203
6   2006    2201.771   92.449705      4.964167  184932
7   2007    2159.310   95.086992      5.019167  191899
8   2008    1968.722   98.737477      1.927500  193996
9   2009    1782.630   98.386420      0.160000  188490
10  2010    1735.967  100.000000      0.175000  194277
11  2011    1670.874  103.156842      0.101667  199804
12  2012    1691.831  105.291505      0.140000  206577
13  2013    1854.231  106.833849      0.107500  212934
14  2014    1976.123  108.566932      0.089167  220371
15  2015    2065.994  108.695722      0.132500  227185
16  2016    2170.878  110.067009      0.395000  231719
17  2017    2296.573  112.411557      1.001667  240001
18  2018    2429.460  115.157303      1.831667  251295
19  2019    2513.212  117.244195      2.158333  260455
20  2020    2665.289  118.690502      0.375833  257056
21  2021    3120.335  124.266414      0.080000  283944
22  2022    3581.264  134.211206      1.683333  308704
23  2023    3668.199  139.735794      5.024167  326488
24  2024    1260.430         NaN      5.330000   84057

In [23]:
#merging household income and house affordability 

df_combo4 = pd.merge ( df_ha, df_hi,on='Year',how='outer')

df_combo4

    Year  median_price  Household-income
0   2000        147300           67470.0
1   2001        156600           66360.0
2   2002        167600           65820.0
3   2003        180200           65860.0
4   2004        195200           65760.0
5   2005        219000           66780.0
6   2006        221900           67520.0
7   2007        217900           68610.0
8   2008        196600           66280.0
9   2009        172100           65850.0
10  2010        173100           64300.0
11  2011        166200           63350.0
12  2012        177200           63350.0
13  2013        197400           65740.0
14  2014        208900           64900.0
15  2015        223900           68410.0
16  2016        235500           70840.0
17  2017        248800           72090.0
18  2018        261600           73030.0
19  2019        274600           78250.0
20  2020        300200           76660.0
21  2021        357100           76330.0
22  2022        392800           74580.0
23  2023        394600               NaN

In [24]:
#merging housing price , household income and gdp , intrest rates 

df_combo5 = pd.merge(df_combo3,df_combo4,on="Year",how='outer')

df_combo5

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0
23,2023,3668.199,139.735794,5.024167,326488,394600.0,NaN
24,2024,1260.430,NaN,5.330000,84057,NaN,NaN

In [25]:
#merging rental affordability and mortage rates 


df_combo6 = pd.merge(df_ra,df_mortrage,on='Year',how='outer')

df_combo6

    Year         usp   mort-rate
0   2000          NaN   8.021111
1   2001   893.668384   6.967885
2   2002   908.794505   6.537308
3   2003   918.025084   5.826981
4   2004   937.770444   5.839231
5   2005   927.051183   5.866731
6   2006   941.381978   6.413269
7   2007   943.084740   6.337308
8   2008   939.112400   6.027170
9   2009   991.358925   5.036538
10  2010   981.959652   4.689808
11  2011   956.410816   4.447885
12  2012   968.292255   3.657500
13  2013   987.782996   3.975577
14  2014  1017.835677   4.168868
15  2015  1055.090789   3.850577
16  2016  1086.291858   3.654038
17  2017  1110.675786   3.989808
18  2018  1151.431447   4.544615
19  2019  1176.624594   3.935769
20  2020  1209.590734   3.111698
21  2021  1203.354323   2.957692
22  2022  1237.000000   5.344038
23  2023          NaN   6.806731
24  2024          NaN   6.871724

In [26]:
#merging unemployement rate and urban population together 

df_combo7 = pd.merge(df_filtered,df_up,on='Year',how='outer')

df_combo7

    Year  Annual_unemp  Urban population (% of total population)
0   2000          43.6                                    79.057
1   2001          52.7                                    79.234
2   2002          63.7                                    79.409
3   2003          66.1                                    79.583
4   2004          60.8                                    79.757
5   2005          55.7                                    79.928
6   2006          50.6                                    80.099
7   2007          50.8                                    80.269
8   2008          64.6                                    80.438
9   2009         103.6                                    80.606
10  2010         105.5                                    80.772
11  2011          98.1                                    80.944
12  2012          88.6                                    81.119
13  2013          80.3                                    81.299
14  2014          67.3                                    81.483
15  2015          57.6                                    81.671
16  2016          53.7                                    81.862
17  2017          47.6                                    82.058
18  2018          42.7                                    82.256
19  2019          40.1                                    82.459
20  2020          93.5                                    82.664
21  2021          57.8                                    82.873
22  2022          39.6                                    83.084
23  2023          40.1                                    83.298
24  2024          19.7                                       NaN

In [27]:
#combining rental affordability, mortage rates , urban population and unemployement rates through the years 

df_combo8 = pd.merge(df_combo6,df_combo7,on='Year',how='outer')

df_combo8

,Year,usp,mort-rate,Annual_unemp,Urban population (% of total population)
0,2000,NaN,8.021111,43.6,79.057
1,2001,893.668384,6.967885,52.7,79.234
2,2002,908.794505,6.537308,63.7,79.409
3,2003,918.025084,5.826981,66.1,79.583
4,2004,937.770444,5.839231,60.8,79.757
5,2005,927.051183,5.866731,55.7,79.928
6,2006,941.381978,6.413269,50.6,80.099
7,2007,943.084740,6.337308,50.8,80.269
8,2008,939.112400,6.027170,64.6,80.438
9,2009,991.358925,5.036538,103.6,80.606
10,2010,981.959652,4.689808,105.5,80.772
11,2011,956.410816,4.447885,98.1,80.944
12,2012,968.292255,3.657500,88.6,81.119
13,2013,987.782996,3.975577,80.3,81.299
14,2014,1017.835677,4.168868,67.3,81.483
15,2015,1055.090789,3.850577,57.6,81.671
16,2016,1086.291858,3.654038,53.7,81.862
17,2017,1110.675786,3.989808,47.6,82.058
18,2018,1151.431447,4.544615,42.7,82.256
19,2019,1176.624594,3.935769,40.1,82.459
20,2020,1209.590734,3.111698,93.5,82.664
21,2021,1203.354323,2.957692,57.8,82.873
22,2022,1237.000000,5.344038,39.6,83.084
23,2023,NaN,6.806731,40.1,83.298
24,2024,NaN,6.871724,19.7,NaN

In [28]:
#Merging combo 5 and combo 8 

df_combo9 = pd.merge(df_combo5,df_combo8,on='Year',how='outer')

df_combo9

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population)
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084
23,2023,3668.199,139.735794,5.024167,326488,394600.0,NaN,NaN,6.806731,40.1,83.298
24,2024,1260.430,NaN,5.330000,84057,NaN,NaN,NaN,6.871724,19.7,NaN

## Data correction where changing of Year data types to merge with main

In [30]:
#knowing if both are correct 
print(df_wa.columns)
print(df_hsold.columns)

Index(['Year ', 'Population'], dtype='object')
Index(['Year ', 'houses sold', 'selling price '], dtype='object')

In [31]:
#conditional statements to know if 'Year' is actually present 


if 'Year' in df_wa.columns and 'Year' in df_hsold.columns:
    print(df_wa['Year'].dtype)
    print(df_hsold['Year'].dtype)
else:
    print("Year column not found in one of the DataFrames")

Year column not found in one of the DataFrames

# Update the above showcases int64 as it was rerun and updated

In [33]:
print("Columns in df_wa:", df_wa.columns.tolist())
print("Columns in df_hsold:", df_hsold.columns.tolist())

Columns in df_wa: ['Year ', 'Population']
Columns in df_hsold: ['Year ', 'houses sold', 'selling price ']

In [34]:
df_wa.columns = df_wa.columns.str.strip()
df_hsold.columns = df_hsold.columns.str.strip()

# Rename columns to make sure it doesnt affect the work 
if 'year' in df_wa.columns:
    df_wa.rename(columns={'year': 'Year'}, inplace=True)
if 'year' in df_hsold.columns:
    df_hsold.rename(columns={'year': 'Year'}, inplace=True)

In [35]:
if 'Year' in df_wa.columns and df_wa['Year'].dtype != 'int64':
    df_wa['Year'] = df_wa['Year'].astype(int)
if 'Year' in df_hsold.columns and df_hsold['Year'].dtype != 'int64':
    df_hsold['Year'] = df_hsold['Year'].astype(int)

In [36]:
#merging working population and houses sold 

df_combo10 = pd.merge(df_hsold,df_wa,on='Year',how='outer')

df_combo10

    Year  houses sold  selling price  Population
0   2000      12100.0       169000.0  2149474800
1   2001      12485.0       175200.0  2177621900
2   2002      13209.0       187600.0  2205426300
3   2003      14522.0       195000.0  2243444300
4   2004      15962.0       221000.0  2265135200
5   2005      16717.0       240900.0  2292342900
6   2006      15057.0       246500.0  2318626800
7   2007      11641.0       247900.0  2347934600
8   2008       9180.0       232100.0  2359492000
9   2009       9429.0       216700.0  2375571000
10  2010       9026.0       221800.0  2389979500
11  2011       9132.0       227200.0  2399566600
12  2012      10056.0       245200.0  2417704900
13  2013      11049.0       268900.0  2427969000
14  2014      10745.0       288500.0  2436191800
15  2015      11522.0       294200.0  2452234500
16  2016      12022.0       307800.0  2466320400
17  2017      12257.0       323100.0  2467121100
18  2018      11913.0       326400.0  2478161400
19  2019      12056.0       321500.0  2475679100
20  2020      12924.0       336900.0  2471426400
21  2021      13782.0       397100.0  2464074100
22  2022      11332.0       457800.0  2487439100
23  2023       9516.0       427400.0  2503948500
24  2024          NaN            NaN  1252263700

In [37]:
#Merging the combo9 and combo 10 to create a final dataset 


df_combomax = pd.merge(df_combo9,df_combo10,on='Year',how='outer')

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,NaN,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,NaN,5.330000,84057,NaN,NaN,NaN,6.871724,19.7,NaN,NaN,NaN,1252263700

# checking missing values

In [39]:
df_combomax.isna().sum()

Year                                        0
CSUSHPINSA                                  0
CPI                                         1
IntrestRates                                0
Gdp                                         0
median_price                                1
Household-income                            2
usp                                         3
mort-rate                                   0
Annual_unemp                                0
Urban population (% of total population)    1
houses sold                                 1
selling price                               1
Population                                  0
dtype: int64

## We see here that theres litreally very little null values due to unnavailability of the given data in recent years in the given so to make sure we predict we will use interpolation and this is the process of finding and predicting values from the nearest data points

In [41]:
df_combomax['CPI']=df_combomax['CPI'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,NaN,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,NaN,NaN,NaN,6.871724,19.7,NaN,NaN,NaN,1252263700

In [42]:
df_combomax['median_price']=df_combomax['median_price'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,NaN,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,NaN,NaN,6.871724,19.7,NaN,NaN,NaN,1252263700

In [43]:
df_combomax['Household-income']=df_combomax['Household-income'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,74580.0,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,74580.0,NaN,6.871724,19.7,NaN,NaN,NaN,1252263700

In [44]:
df_combomax['houses sold']=df_combomax['houses sold'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,74580.0,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,74580.0,NaN,6.871724,19.7,NaN,9516.0,NaN,1252263700

In [45]:
df_combomax['selling price']=df_combomax['selling price'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,74580.0,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,74580.0,NaN,6.871724,19.7,NaN,9516.0,427400.0,1252263700

In [46]:
df_combomax['Urban population (% of total population)']=df_combomax['Urban population (% of total population)'].interpolate()

df_combomax

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,NaN,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,74580.0,NaN,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,74580.0,NaN,6.871724,19.7,83.298,9516.0,427400.0,1252263700

## As u can see here theres like a problem here we cannot do interpolation in this specific null values such as usp therefore to make this better we will use mean to find the first value

In [48]:
df_combomax1=pd.DataFrame(df_combomax)

df_combomax1.columns.tolist()

['Year',
 'CSUSHPINSA',
 'CPI',
 'IntrestRates',
 'Gdp',
 'median_price',
 'Household-income',
 'usp ',
 'mort-rate',
 'Annual_unemp',
 'Urban population (% of total population)',
 'houses sold',
 'selling price',
 'Population']

In [49]:
df_combomax1.columns = df_combomax1.columns.str.strip()

In [50]:
df_combomax1.columns.tolist()

['Year',
 'CSUSHPINSA',
 'CPI',
 'IntrestRates',
 'Gdp',
 'median_price',
 'Household-income',
 'usp',
 'mort-rate',
 'Annual_unemp',
 'Urban population (% of total population)',
 'houses sold',
 'selling price',
 'Population']

In [51]:
if 'usp' in df_combomax1.columns:
    print("Column 'usp' found in DataFrame")
else:
    print("Column 'usp' not found in DataFrame")

nan_count = df_combomax1.isna().sum()

print(nan_count)

if 'usp' in df_combomax1.columns:
    df_combomax1['usp'].fillna(df_combomax1['usp'].mean(), inplace=True)
    df_combomax1['usp'] = df_combomax1['usp'].interpolate()
    
else:
    print("Column 'usp' not found in df_combomax for filling and interpolation")

Column 'usp' found in DataFrame
Year                                        0
CSUSHPINSA                                  0
CPI                                         0
IntrestRates                                0
Gdp                                         0
median_price                                0
Household-income                            0
usp                                         3
mort-rate                                   0
Annual_unemp                                0
Urban population (% of total population)    0
houses sold                                 0
selling price                               0
Population                                  0
dtype: int64

/var/folders/20/y86c17l116d1rg_932q1sg8h0000gn/T/ipykernel_37128/2438207562.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_combomax1['usp'].fillna(df_combomax1['usp'].mean(), inplace=True)

In [95]:
df_combomax1.isna().sum()

Year                                        0
CSUSHPINSA                                  0
CPI                                         0
IntrestRates                                0
Gdp                                         0
median_price                                0
Household-income                            0
usp                                         0
mort-rate                                   0
Annual_unemp                                0
Urban population (% of total population)    0
houses sold                                 0
selling price                               0
Population                                  0
dtype: int64

In [97]:
df_combomax1

,Year,CSUSHPINSA,CPI,IntrestRates,Gdp,median_price,Household-income,usp,mort-rate,Annual_unemp,Urban population (% of total population),houses sold,selling price,Population
0,2000,1257.326,78.970721,6.235833,145193,147300.0,67470.0,1024.663117,8.021111,43.6,79.057,12100.0,169000.0,2149474800
1,2001,1358.228,81.202568,3.887500,148400,156600.0,66360.0,893.668384,6.967885,52.7,79.234,12485.0,175200.0,2177621900
2,2002,1467.454,82.490467,1.666667,151815,167600.0,65820.0,908.794505,6.537308,63.7,79.409,13209.0,187600.0,2205426300
3,2003,1604.898,84.363079,1.127500,157674,180200.0,65860.0,918.025084,5.826981,66.1,79.583,14522.0,195000.0,2243444300
4,2004,1805.577,86.621678,1.349167,166631,195200.0,65760.0,937.770444,5.839231,60.8,79.757,15962.0,221000.0,2265135200
5,2005,2061.354,89.560532,3.213333,176203,219000.0,66780.0,927.051183,5.866731,55.7,79.928,16717.0,240900.0,2292342900
6,2006,2201.771,92.449705,4.964167,184932,221900.0,67520.0,941.381978,6.413269,50.6,80.099,15057.0,246500.0,2318626800
7,2007,2159.310,95.086992,5.019167,191899,217900.0,68610.0,943.084740,6.337308,50.8,80.269,11641.0,247900.0,2347934600
8,2008,1968.722,98.737477,1.927500,193996,196600.0,66280.0,939.112400,6.027170,64.6,80.438,9180.0,232100.0,2359492000
9,2009,1782.630,98.386420,0.160000,188490,172100.0,65850.0,991.358925,5.036538,103.6,80.606,9429.0,216700.0,2375571000
10,2010,1735.967,100.000000,0.175000,194277,173100.0,64300.0,981.959652,4.689808,105.5,80.772,9026.0,221800.0,2389979500
11,2011,1670.874,103.156842,0.101667,199804,166200.0,63350.0,956.410816,4.447885,98.1,80.944,9132.0,227200.0,2399566600
12,2012,1691.831,105.291505,0.140000,206577,177200.0,63350.0,968.292255,3.657500,88.6,81.119,10056.0,245200.0,2417704900
13,2013,1854.231,106.833849,0.107500,212934,197400.0,65740.0,987.782996,3.975577,80.3,81.299,11049.0,268900.0,2427969000
14,2014,1976.123,108.566932,0.089167,220371,208900.0,64900.0,1017.835677,4.168868,67.3,81.483,10745.0,288500.0,2436191800
15,2015,2065.994,108.695722,0.132500,227185,223900.0,68410.0,1055.090789,3.850577,57.6,81.671,11522.0,294200.0,2452234500
16,2016,2170.878,110.067009,0.395000,231719,235500.0,70840.0,1086.291858,3.654038,53.7,81.862,12022.0,307800.0,2466320400
17,2017,2296.573,112.411557,1.001667,240001,248800.0,72090.0,1110.675786,3.989808,47.6,82.058,12257.0,323100.0,2467121100
18,2018,2429.460,115.157303,1.831667,251295,261600.0,73030.0,1151.431447,4.544615,42.7,82.256,11913.0,326400.0,2478161400
19,2019,2513.212,117.244195,2.158333,260455,274600.0,78250.0,1176.624594,3.935769,40.1,82.459,12056.0,321500.0,2475679100
20,2020,2665.289,118.690502,0.375833,257056,300200.0,76660.0,1209.590734,3.111698,93.5,82.664,12924.0,336900.0,2471426400
21,2021,3120.335,124.266414,0.080000,283944,357100.0,76330.0,1203.354323,2.957692,57.8,82.873,13782.0,397100.0,2464074100
22,2022,3581.264,134.211206,1.683333,308704,392800.0,74580.0,1237.000000,5.344038,39.6,83.084,11332.0,457800.0,2487439100
23,2023,3668.199,139.735794,5.024167,326488,394600.0,74580.0,1024.663117,6.806731,40.1,83.298,9516.0,427400.0,2503948500
24,2024,1260.430,139.735794,5.330000,84057,394600.0,74580.0,1024.663117,6.871724,19.7,83.298,9516.0,427400.0,1252263700

In [101]:
df_combomax1.to_csv("Preprocessed Dataset.csv")

# To Be Utilised Further For Model Creation